/* global defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13pt Helvetica, Arial;
  width: 100vw;
  height: 100vh;
  background: #e0bad6;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  font: 24pt;
}

h2 {
  font: 14px;
}

br {
  padding-bottom: .5rem;
}

td {
  vertical-align: top;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-bottom: .5rem;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

/* central display */
.central {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  min-height: 100vh;
  background: #ffd3f3;
}

@media screen and (min-width: 480px) {
  .central {
    margin: 0 10%;
  }
}

.central p {
  padding-bottom: .5rem;
}

.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* warning message */
.warning {
  flex: 1;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  border-style: solid;
  border-width: 2px;
  border-color: #ff0000;
  background: #ff6666;
}

/* login form */
.loginForm div {
  flex: 1;
  display: flex;
}

.loginForm div label {
  flex: 1;
  text-align: right;
}

.loginForm div input {
  flex: 1;
}

.loginForm div .pad {
  flex: 1;
}

.loginForm div button {
  flex: 1;
}

@media screen and (min-width: 480px) {
  .loginForm div label {
    flex: 2;
  }

  .loginForm div .pad {
    flex: 2;
  }
}

/* sexy layout */
.sexyLayout {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (min-width: 480px) {
  .sexyLayout {
    flex-direction: row;
  }
}

/* master of the four elements */
.avatarNormal {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

/* flex table */
.flexTable {
  flex: 0 1 auto;
}

.flexTable td:nth-child(1) {
  min-width: 100px;
}
