* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13pt Helvetica, Arial;
  width: 100vw;
  height: 100vh;
  background: #e0bad6;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

br {
  padding-bottom: .5rem;
}

@media screen and (min-width: 480px) {
  .central {
    margin: 0 10%;
    padding: 0 3px;
  }
}

.central {
  height: 100vh;
  background: #ffd3f3;
}

.central p {
  padding-bottom: .5rem;
}

.centered {
  text-align: center;
}

h1 {
  font: 24pt;
}

.loginForm div {
  display: flex;
}

.loginForm div label {
  flex: 1;
  text-align: right;
}

.loginForm div input {
  flex: 1;
}

.loginForm div .pad {
  flex: 1;
}

.loginForm div .flexLeft {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 480px) {
  .loginForm div .flexLeft button {
    flex: 1;
  }
}

@media screen and (min-width: 480px) {
  .loginForm div input {
    flex: 2;
  }

  .loginForm div .flexLeft {
    flex: 2;
  }
}

